extends layout.pug
block content
    a(href ='//192.168.150.11:8084/app/#/song')
    <html>
        <body>
            <meta http-equiv="refresh" content="5; URL=http://192.168.150.11:8084/app/#/song"/>
        </body>
    </html>

    .container
        h4 welcome to musicbox transfer service, you will be redirected momentarily.
        a.btn.btn-outline-dark(href='/logout') Logout
